.bigcoteret1 {
    font-family: 'Anton', sans-serif;
    color: white;
    text-decoration-line: underline;
    text-decoration-color: white;
    margin-left: 275px;
}

.minitexts {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 13px;
}
