.naktarimg {
    background-color: hotpink;
    
}
.divimg {
    padding-left: 210px;
}
.ntext {
    padding-left: 50px;
    color: white;
    font-family: 'Anton', sans-serif;
}
.m16img {
    background-color: yellow;
}
